name: test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
  pull_request:
  release:
    types:
      - published

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: py_compile
        run: python -m py_compile $(git ls-files '*.py')
      - name: pylint
        run: python -m pylint --output-format=colorized $(git ls-files '*.py')
